/*
 * @Author: Wisper 
 * @Date: 2021-01-14 11:21:49 
 * @Last Modified by: Wisper
 * @Last Modified time: 2021-04-06 14:31:37
 */

#app {
  .app-wrapper {
    .side-bar {
      .el-menu {
        border: none;
        height: 100%;
        width: 100% !important;
      }
    }

    .main-container {
      position: relative;
      padding-top: $navHeight;
      height: 100%;
      transition: margin-left .3s;

      &.has-sidebar {
        margin-left: $sidebarWidth;

        .app-main {
          // padding: 20px;

          .page-container {
            height: calc(100vh - #{$navHeight} - #{$headBarHeight});
          }
        }
      }

      .page-container {
        position: relative;
        padding: 20px;
        height: calc(100vh - #{$navHeight} - #{$headBarHeight});
        overflow: auto;
        background: $whiteColor;

        .page-bottom {
          height: 96px;

          &__delete {
            margin-top: 32px;
          }

          .pagination-container {
            display: inline-block;
            width: calc(100% - 100px);
          }
        }
      }

      /* 左侧有树形结构控件 */
      .page-container.has-tree {
        padding: 0;
        background: $pageBg;

        .tree-container {
          position: absolute;
          top: 0;
          left: 0;
          width: $treeConWidth;
          height: 100%;
          padding: 20px 10px;
          transition: left .3s;
          background: $whiteColor;
          margin-right: 15px;
          border-right: 1px solid $borderColor;

          .extend-button {
            position: absolute;
            top: 50%;
            right: -15px;
            transform: translateY(-50%);
            width: 15px;
            height: 80px;
            background: #999;
            cursor: pointer;

            &::after {
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 0;
              height: 0;
              border-right: 12px solid #fff;
              border-top: 10px solid transparent;
              border-bottom: 10px solid transparent;
            }
          }

          .tree-title {
            font-size: 20px;
            line-height: 40px;
            color: $lightBlackColor;
          }
        }

        .tree-form-container {
          // float: right;
          // width: calc(100% - 15px - #{$treeConWidth});
          margin-left: calc(15px + #{$treeConWidth});
          height: 100%;
          padding: 20px;
          transition: margin-left .3s;
          background: $whiteColor;
          border-left: 1px solid $borderColor;
          overflow: auto;

          .tree-extend-btn {
            float: left;
            margin-right: 10px;
            height: 35px;
            line-height: 35px;
            border: 1px solid #ccc;
            padding: 0 12px;
            border-left: 0;
            margin-left: -20px;
            cursor: pointer;
            font-size: 18px;
          }
        }

        &.close-tree {
          .tree-container {
            left: -$treeConWidth;
          }

          .tree-form-container {
            margin-left: 0px;
          }
        }
      }
    }

    &.hidden-sidebar {
      .side-bar {
        width: 64px !important;
      }

      .main-container {
        &.has-sidebar {
          margin-left: 64px;
        }
      }

      .el-submenu {
        // overflow: hidden;

        &>.el-submenu__title {
          text-overflow: initial;

          .el-submenu__icon-arrow {
            display: none;
          }
        }
      }
    }
  }



  .dialog-container {
    padding: 20px 40px;
  }
}
