// dropdownMenu
.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
  @include dropdownColor($dropdownBg, $dropdownColor)
}

// button
.el-button--primary {
  @include primaryBg($primaryColor);
  @include primaryBorder($primaryColor)
}

.el-button--primary:focus,
.el-button--primary:hover {
  @include primaryButtonHover($primaryButtonHover)
}

// button-text
.el-button--text {
  @include primaryColor($primaryColor)
}

.el-button--text:focus,
.el-button--text:hover {
  @include primaryButtonTextHover($primaryButtonHover)
}

// input
.el-input.is-active .el-input__inner,
.el-input__inner:focus {
  @include primaryBorder($primaryColor)
}

// date-picker
.el-range-editor.is-active,
.el-range-editor.is-active:hover {
  @include primaryBorder($primaryColor)
}

.el-date-table td.today span,
.el-date-table td.available:hover,
.el-picker-panel__shortcut:hover {
  @include primaryColor($primaryColor)
}

.el-date-table td.end-date span,
.el-date-table td.start-date span,
.el-date-table td.current:not(.disabled) span {
  @include primaryBg($primaryColor)
}

.el-date-table td.in-range div,
.el-date-table td.in-range div:hover,
.el-date-table.is-week-mode .el-date-table__row.current div,
.el-date-table.is-week-mode .el-date-table__row:hover div {
  @include inputDateBg($inputDateBg)
}

.el-picker-panel__icon-btn:hover,
.el-date-picker__header-label.active,
.el-date-picker__header-label:hover,
.el-year-table td .cell:hover,
.el-year-table td.current:not(.disabled) .cell,
.el-year-table td.today .cell,
.el-month-table td.current:not(.disabled) .cell,
.el-month-table td .cell:hover {
  @include primaryColor($primaryColor)
}

// select
.el-select .el-input__inner:focus,
.el-select .el-input.is-focus .el-input__inner {
  @include primaryBorder($primaryColor)
}

.el-select-dropdown__item.selected {
  @include primaryColor($primaryColor)
}

// slider
.el-slider__bar {
  @include primaryBg($primaryColor)
}

.el-slider__button {
  @include primaryBorder($primaryColor)
}

// switch
.el-switch.is-checked .el-switch__core {
  @include primaryBg($primaryColor);
  @include primaryBorder($primaryColor)
}

// radio/checkbox
.el-radio__input.is-checked .el-radio__inner,
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  @include primaryBg($primaryColor);
  @include primaryBorder($primaryColor)
}

.el-radio__input.is-checked+.el-radio__label,
.el-checkbox__input.is-checked+.el-checkbox__label {
  @include primaryColor($primaryColor)
}

.el-radio__inner:hover,
.el-checkbox__inner:hover {
  @include primaryBorder($primaryColor)
}

.el-radio-button__orig-radio:checked+.el-radio-button__inner,
.el-checkbox-button.is-checked .el-checkbox-button__inner {
  @include inputRadio($primaryColor);
}

.el-radio-button__inner:hover,
.el-checkbox-button__inner:hover {
  @include primaryColor($primaryColor)
}

.el-checkbox-button.is-focus .el-checkbox-button__inner,
.el-checkbox__input.is-focus .el-checkbox__inner {
  @include primaryBorder($primaryColor)
}

// textarea
.el-textarea__inner:focus {
  @include primaryBorder($primaryColor)
}

// pagination
.el-pagination.is-background .el-pager li:not(.disabled).active {
  @include primaryBg($primaryColor)
}

.el-pagination__sizes .el-input .el-input__inner:hover {
  @include primaryBorder($primaryColor)
}

// upload
.el-upload-dragger:hover {
  @include primaryBorder($primaryColor)
}

.el-upload-dragger .el-upload__text em {
  @include primaryColor($primaryColor)
}

.app-wrapper {

  // 解决 el-date-picker 样式问题
  .el-range-separator {
    box-sizing: content-box;
  }

  // 解决 el-table 组件错位问题
  .el-table--border {
    .th.gutter:last-of-type {
      display: block !important;
    }
  }

  // 自定义表头颜色
  .el-table {
    .pre-line {
      background: #f5f7fa;

      .cell {
        white-space: pre-line;
      }
    }


  }

  // dialog 弹窗css
  .el-dialog {
    height: auto;
    max-height: calc(85vh - 50px);

    .el-dialog__header {
      border-bottom: 1px solid #ededed;
    }

    .el-dialog__footer {
      border-top: 1px solid #ededed;
    }

    .el-dialog__body {
      padding: 0;
      height: calc(100% - 124px); // 124 = header + footer
      overflow: auto;
    }
  }

  .upload-container {
    .el-upload {
      width: 100%;

      .el-upload-dragger {
        width: 100%;
        height: 200px;
      }
    }
  }

  .el-upload {
    input[type="file"] {
      display: none !important;
    }
  }

  .el-upload__input {
    display: none;
  }

  .el-dropdown-menu {
    a {
      display: block
    }
  }

}
