/** ---- common ---- **/

// headbar高度
$headBarHeight: 60px;

// tree列表宽度
$treeConWidth: 200px;

// 页面背景
$pageBg: #f2f2f2;

// 边框颜色
$borderColor: #DCDFE6;

// 其他色值
$whiteColor: #ffffff;
$greenColor: #67C23A;
$orangeColor: #E6A23C;
$redColor: #F56C6C;
$lightGrayColor: #F5F7FA;
$grayColor: #909399;
$darkBlueColor: #304156;
$lightBlackColor: #333333;
$blackColor: #000000;

// icon默认颜色
$iconColor: #eeeeee;


/** ---- theme-blue ---- **/

// 主题色
$primaryColor: #409EFF;

// headbar
$menuBg:#304156;
$menuSecondBg:#263445;
$menuFourthBg:#001528;

// dropdownMenu
$dropdownBg: #ecf5ff;
$dropdownColor: #66b1ff;

// button
$primaryButtonHover: #66b1ff;

// input
$inputDateBg: #F2F6FC;


/** ---- theme-green ---- **/

// 主题色
$primaryColorGreen: #04B018;

// headbar
$menuBgGreen: #007e54;
$menuSecondBgGreen: #005e54;
$menuFourthBgGreen: #003e54;

// dropdownMenu
$dropdownBgGreen: #ebffeb;
$dropdownColorGreen: #03cc1a;

// button
$primaryButtonHoverGreen: #03cc1a;

// input
$inputDateBgGreen: #f5fcf2;
